.pt-16.footer
  .footer__top-side
    .container
      .row 
        .col-3
          +mainTitle('Về chúng tôi', 'h5')
          .mt-5.footer__top-content
            p Công ty Cổ phẩn Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử. 
            p
              i.fas.fa-map-marker-alt.me-2
              | Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cấn Ba Đình - Hà Nội
            p
              i.fas.fa-envelope.me-2
              | support@dkt.com.vn
            p
              i.fas.fa-mobile-alt.me-2
              | (84-4) 66558868 - (84-4) 37868904
        .col 
          +mainTitle('Chính sách', 'h5')
          .mt-5.footer__top-content
            p Chính sách giao hàng 
            p Chính sách đổi sản phẩm
            p Chính sách bảo hành 
            p Chính sách trả góp 
            p Giới thiệu hàng đổi trả
            p Vận chuyển miễn phí
        .col 
          +mainTitle('Dịch vụ & hỗ trợ', 'h5')
          .mt-5.footer__top-content
            p Hệ thống cửa hàng 
            p Hướng dẫn mua hàng 
            p Hướng dẫn thanh toán 
            p Tích điểm đổi thưởng
            p Dịch vụ đổi trả hàng 
            p Câu hỏi thường gặp 
        .col 
          +mainTitle('Tin tức - sự kiện')
          .mt-5.footer__top-content
            p Tin tức mới nhất 
            p Tin tức khuyến mại 
            p Tuyển dụng, đãi ngộ
            p Download tài liệu 
            p Chương trình đối tác
            p Nhà phát triển ứng dụng 
        .col-2
          +mainTitle('Kết nối')
          .mt-5.footer__top-content
            p 
              i.fab.fa-facebook-f.me-2
              | Facebook 
            p
              i.fab.fa-twitter.me-2
              | Twitter 
            p 
              i.fab.fa-google-plus-g.me-2
              | Google 
            p 
              i.fab.fa-skype.me-2
              | Skype 
            p
              i.fab.fa-instagram.me-2
              | Instagram
  .footer__middle-side
    .container
      .row
        .col
          p Thanh toán: 
          .list-bank-logo 
            img(src="./assets/images/bank-logo-1.svg")
            img(src="./assets/images/bank-logo-2.svg")
            img(src="./assets/images/bank-logo-3.svg")
            img(src="./assets/images/bank-logo-4.svg")
            img(src="./assets/images/bank-logo-5.svg")
            img(src="./assets/images/bank-logo-6.svg")
            img(src="./assets/images/bank-logo-7.svg")
            img(src="./assets/images/bank-logo-8.svg")
        .col
          p Giải đáp nhanh: 
          .d-inline-flex.align-items-center.me-4.hotline
            .rounded-circle.me-2.container-icon 
              i.fas.fa-phone-alt
            div
              p.mb-1 Tư vấn miễn phí (24/7)
              h4.text-danger.fw-b.mb-0 1900 650 650
          .d-inline-flex.align-items-center.feedback
            .rounded-circle.me-2.container-icon 
              i.fab.fa-weixin
            div
              p.mb-1 Góp ý - phản hồi - thắc mắc
              h4.text-danger.fw-b.mb-0 1900 650 650
  .mt-10.footer__bottom-side
    .navbar.navbar-expand-xl.navbar-dark.bg-dark.py-xl-0.py-4
      .container
        p.m-0 Bản quyền thuộc về Design Team. Phát triển bởi Bizweb.
        #navbarBottom.collapse.navbar-collapse
          ul.ms-auto.text-uppercase.navbar-nav
            li.nav-item.dropup
              a.nav-link.navigation-item.px-6.navigation-item--text(href='' data-bs-toggle="dropdown") Trang chủ
              ul.dropdown-menu.dropdown-home-bottom
                li.home-bottom__item.dropup__submenu
                  a.py-5.home-bottom__link(href='' data-bs-toggle="dropdown") Máy khoan đa năng CNC
                  ul.dropdown-menu.p-0.dropdown-branch
                    li.branch__item
                      a.py-5.branch__link(href='') Máy khoan CNC điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy phay đa năng 3R
                    li.branch__item
                      a.py-5.branch__link(href='') Máy hàn cắt kim loại
                    li.branch__item
                      a.py-5.branch__link(href='') Máy in phun tích điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy ép gỗ chuẩn Nano
                li.home-bottom__item.dropup__submenu
                  a.py-5.home-bottom__link(href='' data-bs-toggle="dropdown") Máy cắt Plasmar
                  ul.dropdown-menu.p-0.dropdown-branch
                    li.branch__item
                      a.py-5.branch__link(href='') Máy khoan CNC điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy phay đa năng 3R
                    li.branch__item
                      a.py-5.branch__link(href='') Máy hàn cắt kim loại
                    li.branch__item
                      a.py-5.branch__link(href='') Máy in phun tích điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy ép gỗ chuẩn Nano
                li.home-bottom__item.dropup__submenu
                  a.py-5.home-bottom__link(href='' data-bs-toggle="dropdown") Máy phay công nghiệp
                  ul.dropdown-menu.p-0.dropdown-branch
                    li.branch__item
                      a.py-5.branch__link(href='') Máy khoan CNC điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy phay đa năng 3R
                    li.branch__item
                      a.py-5.branch__link(href='') Máy hàn cắt kim loại
                    li.branch__item
                      a.py-5.branch__link(href='') Máy in phun tích điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy ép gỗ chuẩn Nano
                li.home-bottom__item.dropup__submenu
                  a.py-5.home-bottom__link(href='' data-bs-toggle="dropdown") Máy ép nhựa thủ công
                  ul.dropdown-menu.p-0.dropdown-branch
                    li.branch__item
                      a.py-5.branch__link(href='') Máy khoan CNC điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy phay đa năng 3R
                    li.branch__item
                      a.py-5.branch__link(href='') Máy hàn cắt kim loại
                    li.branch__item
                      a.py-5.branch__link(href='') Máy in phun tích điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy ép gỗ chuẩn Nano
                li.home-bottom__item.dropup__submenu
                  a.py-5.home-bottom__link(href='' data-bs-toggle="dropdown") Máy uốn tôn điện
                  ul.dropdown-menu.p-0.dropdown-branch
                    li.branch__item
                      a.py-5.branch__link(href='') Máy khoan CNC điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy phay đa năng 3R
                    li.branch__item
                      a.py-5.branch__link(href='') Máy hàn cắt kim loại
                    li.branch__item
                      a.py-5.branch__link(href='') Máy in phun tích điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy ép gỗ chuẩn Nano
                li.home-bottom__item.dropup__submenu
                  a.py-5.home-bottom__link(href='' data-bs-toggle="dropdown") Máy nén khí CNC
                  ul.dropdown-menu.p-0.dropdown-branch
                    li.branch__item
                      a.py-5.branch__link(href='') Máy khoan CNC điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy phay đa năng 3R
                    li.branch__item
                      a.py-5.branch__link(href='') Máy hàn cắt kim loại
                    li.branch__item
                      a.py-5.branch__link(href='') Máy in phun tích điện
                    li.branch__item
                      a.py-5.branch__link(href='') Máy ép gỗ chuẩn Nano
            li.nav-item.dropup
              a.nav-link.navigation-item.px-6.navigation-item--text(href='' data-bs-toggle="dropdown") Giới thiệu
              ul.dropdown-menu.dropdown-intro
                li.intro__item
                  a.py-5.intro__link(href='') Giới thiệu chung
                li.intro__item.dropdown__submenu
                  a.py-5.intro__link(href='' data-bs-toggle="dropdown") Hệ thống cửa hàng
                  ul.dropdown-menu.p-0.dropdown-branch
                    li.branch__item
                      a.py-5.branch__link(href='') Hệ thống cửa hàng A
                    li.branch__item
                      a.py-5.branch__link(href='') Hệ thống cửa hàng B
                li.intro__item
                  a.py-5.intro__link(href='') Chính sách ưu đãi
                li.intro__item
                  a.py-5.intro__link(href='') Thông tin tuyển dụng
            li.nav-item
              a.nav-link.navigation-item.px-6.navigation-item--text(href='') Sản phẩm
            li.nav-item
              a.nav-link.navigation-item.px-6.navigation-item--text(href='') Tin khuyến mại
            li.nav-item
              a.nav-link.navigation-item.px-6.navigation-item--text(href='') Dịch vụ
            li.nav-item
              a.nav-link.navigation-item.px-6.navigation-item--text(href='') Liên hệ
