$--color-theme-1: #f5bc10;
$--color-theme-1-100: #fef8e7;
$--color-theme-1-200: #fdeec3;
$--color-theme-1-300: #fbe49f;
$--color-theme-1-400: #f8d058;
$--color-theme-1-500: #f5bc10;
$--color-theme-1-600: #dda90e;
$--color-theme-1-700: #b88d0c;
$--color-theme-1-800: #93710a;
$--color-theme-1-900: #785c08;

$--color-white: #ffffff;
$--color-black: #000000;

$--color-gray-100: #f8f9fa;
$--color-gray-200: #e9ecef;
$--color-gray-300: #ced4da;
$--color-gray-400: #ced4da;
$--color-gray-500: #adb5bd;
$--color-gray-600: #6c757d;
$--color-gray-700: #495057;
$--color-gray-800: #343a40;
$--color-gray-900: #212529;

$breakpoints: (xs: 420px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
