doctype html
html
  head
    include ../partials/head
    block styles
  body
    include ../constants/variables
    include ../components/mixin.pug
    header 
      include ../partials/header
      include ../partials/nav
    main
      block content
    footer
      include ../partials/footer
    include ../partials/script
