doctype html
html
  head
    include ../partials/head
    block styles
  body
    header 
      include ../partials/header
      include ../partials/nav
    main
      block content
      include ../partials/footer
      include ../partials/script
