-
  const hotProductCards = [
    { img: './assets/images/sample-hot-product-1.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-2.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-3.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-4.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-5.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-6.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
  ]
  const productsReleaseCards = [
    { img: './assets/images/sample-release-1.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-release-2.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-release-3.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
  ]
  const bestSellerCards = [
    { img: './assets/images/sample-hot-product-1.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-2.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-best-sellers-large.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-4.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
    { img: './assets/images/sample-hot-product-5.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12 },
  ]
  const newArrivalCards = [
    { img: './assets/images/sample-new-arrival-1.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12, preview: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...' },
    { img: './assets/images/sample-new-arrival-2.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12, preview: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...' },
    { img: './assets/images/sample-new-arrival-3.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12, preview: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...' },
    { img: './assets/images/sample-new-arrival-4.svg', cost: '1.550.000 Đ', nameProduct: 'MÁY KHOAN BLACK DECKER', reviewAmount: 12, preview: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo...' },
  ]